.headerWrapper{
    position: sticky;
    top: 0;
    z-index: 10;
}


.navbar-expand .navbar-nav .dropdown-menu {
    position: absolute;
    left: -280px !important;
   
}


@media only screen and (max-width: 650px) {
    .Brand{
        background-color: red;
        display: none;
    }
    .toggle{
        padding: 10px;
    }

    
}

@media only screen and (max-width: 450px) {
    
    .navbar-expand .navbar-nav .dropdown-menu {
        position: absolute;
        left: -255px !important;
       
    }
}

